.upper-top{
    background-color: #2E8094;
    padding: 10px 10%;
}
.top-left-section{
    background-color: #3593aa;
    border-radius: 50px;
    color: #fff;
    padding: 0px 5%;
    width: 64%;
}
.top-right-section{
    text-align-last: end;
}
.left-section-text{
    display: inline-block;
    width: 20%;
}
.right-section-text{
    display: inline-block;
    padding-left: 25px;
    border-left: 2px solid #fff;
    margin: 10px;
}
.child-oneline{
    display: inline-block;
}

.oneline-div{
    margin: 6px;
    color: #ffff;
}
.child-oneline{
    padding: 0px 20px;
}
.right-brd{
    border-right: 2px solid #fff;
}
.child-oneline i {
    padding: 0px 10px;
}



.topnav {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
  }
  
  .topnav a {
    /* float: left; */
    display: inline-block;
    color: #6a6a6a;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
  }
  .topnav div {
    /* float: left; */
    display: inline-block;
    text-align: center;
    text-decoration: none;
   
  }
  
  .topnav a:hover {
    color: #2E8094;
    border-bottom: 6px solid #2E8094;
  }
  
  .topnav a.active {
    /* background-color: #04AA6D; */
    color: #2E8094;
    border-bottom: 6px solid #2E8094;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a.active {
        /* background-color: #04AA6D; */
        color: #2E8094;
        border-bottom: unset !important;
      }
  }