@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.error {
  color: red;
  font-style: italic;
}
.error {
  color: red !important;
}
.tata {
  z-index: 99999999 !important;
}
.tata-icon {
  color: #fff !important;
}
.tata-close {
  color: #fff !important;
}
.unset {
  display: unset !important;
  color: unset !important;
  background-color: unset !important;
  font-weight: 700;
}
.unset:hover {
  box-shadow: unset !important;
  color: #3c3489 !important;
}
.text-unset {
  text-transform: unset !important;
}
html {
  --scrollbarBG: #c0f0f9;
  --thumbBG: #2e8094;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
h2{
  text-align: center;
}
.container .w-50{
  margin-left: 25%;
}

.banner .slider-div-box .slick-next,
.banner .slider-div-box .slick-prev {
  position: absolute;
  z-index: 10;
  background: 0 0 !important;
  color: #fff;
  font-weight: 700 !important;
  outline: 0 !important;
  border: none !important;
  font-size: 35px;
  cursor: pointer;
}
.banner .slider-div-box .slick-prev {
  left: 10px;
  bottom: 10px;
}
.banner .slider-div-box .slick-next {
  right: 10px;
  bottom: 10px;
}
.txt-center {
  text-align: center;
}
.slider-btn-bg {
  background: #3ba5be;
  background: linear-gradient(
    90deg,
    rgba(59, 165, 190, 1) 38%,
    rgba(53, 147, 170, 1) 100%
  );
}
.slider-btn-section {
  margin: unset !important;
  padding: unset !important;
}
.sbtn-box {
  padding: 30px 10px;
  font-size: 20px;
  color: #fff;
}
hr[role="tournament6"] {
  border: 0 solid;
  height: 1px;
  margin: 30px 0;
  display: block;
}
hr[role="tournament6"]::before {
  position: absolute;
  background-color: #818181;
  border: 1px solid;
  border-color: #818181;
  padding: 13px;
  transform: rotate(45deg);
  left: 50%;
  margin: -14px 0 0 -22px;
  content: "";
}
.about-sec {
  padding: 40px 0;
}
.environment, .innovative, .blog{
  padding-top: 20px;
}

.involed{
  padding-top: 0px;
}

.heading-span-clr {
  color: #8f8f8f;
}
.about-content{
  padding-left: 30px;
}
.about-content-2{
  padding-left: 0px;
}
.about-content p {
  color: #616161;
  line-height: 35px;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: justify;
}
.about-img-box {
  border: 2px solid #8f8f8f;
}
.donate-sec {
  padding: 30px 0 0;
  padding-top: 0;
}
.donate-content p {
  color: #616161;
  line-height: 35px;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.donate-img-box {
  border: 2px solid #8f8f8f;
}
.multi-slider-main {
  background-color: #c0f0f9;
  padding: 20px 50px;
  margin: 3% 0;
  border-radius: 10px;
  position: relative;
}
.multi-slider-left {
  position: absolute;
  left: 0;
  top: 45%;
  border: unset !important;
  background-color: #0000008f;
  padding: 15px;
}
.multi-slider-left i {
  font-size: 34px;
  color: #fff;
}
.multi-slider-right {
  position: absolute;
  right: -1px;
  top: 45%;
  border: unset !important;
  background-color: #0000008f;
  padding: 15px;
}
.multi-slider-right i {
  font-size: 34px;
  color: #fff;
}
.slide-heading-box {
  position: absolute;
  bottom: 10%;
  background-color: rgb(46 128 148 / 92%);
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 5px 30px;
}
/* .slide-heading-box h4 {
  padding: 8px 8px;
} */
.slide-heading-box p {
  /* padding: 8px 8px; */
  margin-bottom: 0;
}
img {
  width: 100%;
}
.slide-box-collsp {
  position: relative;
}
.slide-box-collsp:hover img {
  opacity: 0.3;
}
.slide-box-collsp:hover .middle {
  opacity: 1;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle-box {
  width: 100%;
  height: 100%;
  background-color: #000000cf;
  color: #fff;
  padding: 5px;
}
.middle-box h3 {
  padding-top: 20px;
}
.middle-box p {
  margin-top: 20px;
  text-align: justify;
  padding: 20px;
}
.heading-2nd {
  color: #2e8094;
}
.env-card-body {
  position: relative;
}
.env-image-card {
  text-align: center;
}
.env-image-card img {
  border-radius: 15px;
}
.env-card-content {
  padding: 15px 25px;
  position: relative;
  height: 190px;
}
.env-card-content p {
  color: #7c7c7c;
}
.env-card {
  border: 1px solid #edebeb;
  /* padding-top: 10px; */
  border-radius: 10px;
}
.env-card:hover {
  box-shadow: 0 0 6px 2px #bcbaba;
}
.env-card:hover .env-card-bottom-btn {
  background-color: #3ba5be;
}
.env-card-bottom-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #9a9a9a;
  padding: 15px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inv-card-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.inv-card {
  position: relative;
  height: 430px;
}
.cp {
  padding: 0 20px;
}
.inv-card-bootom-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-left: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inv-card-bootom-btn .inv-left-btn {
  background-color: #3593aa;
  padding: 15px;
  border-bottom-left-radius: 10px;
}
.inv-card-bootom-btn .inv-right-btn {
  background-color: #2e8094;
  padding: 15px;
  border-bottom-right-radius: 10px;
}
.inv-card-content h3 {
  margin-top: 20px;
}
.two-slide-arrow-left {
  position: absolute;
  top: 45%;
  width: 60px;
  padding: 5px 10px;
  font-size: 30px;
  border: unset;
  left: 32px;
  background: #e2dedeb3;
}
.two-slide-arrow-right {
  position: absolute;
  top: 45%;
  width: 60px;
  padding: 5px 10px;
  font-size: 30px;
  border: unset;
  right: 32px;
  background: #e2dedeb3;
}
.p-rel {
  position: relative;
}
.achi-slide {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.achi-slide .slide-dex {
  height: 420px;
  background-color: rgb(0 0 0 / 79%);
}
.achi-heading {
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
  font-size: 30px;
}
.achi-main-box {
  padding: 14% 8%;
}
.achi-desc {
  padding-top: 0%;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
.achi-bottom-btn-box {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.achi-btn {
  background-color: #3593aa;
  padding: 10px 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fff;
}
.achi-arrow-left {
  position: absolute;
  top: 47%;
  left: 5px;
  border: unset;
  background-color: #3593aa;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
}
.achi-arrow-right {
  position: absolute;
  top: 47%;
  right: 5px;
  border: unset;
  background-color: #3593aa;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
}
.full-row {
  padding: unset;
  margin: unset;
}
.col-full-width {
  padding: unset;
  margin: unset;
}
.counter-bg {
  text-align: center;
  color: #fff;
  padding: 25px 10px 5px 10px;
}
.counter-bg p{
  margin-bottom: 10px;
}
.counter-bg h4{
  margin-bottom: 0;
}
.counter-bg1 {
  background-color: #3ba5be;
}
.counter-bg2 {
  background-color: #3593aa;
}
.counter-bg3 {
  background-color: #2e8094;
}
.counter-bg4 {
  background-color: #006d88;
}
.p-unset {
  padding: unset !important;
}
.m-unset {
  margin: unset !important;
}
.b-unset {
  border: unset !important;
}
.health-bg {
  background-repeat: no-repeat;
  background-size: 100%;
}
.health-bg .health-row {
  background-color: rgb(58 165 191 / 79%);
  padding: 5% 0;
}
.col-health {
  color: #fff;
}
/* .col-health .health-heading {
  padding-left: 20%;
}
.col-health .health-description {
  padding-left: 20%;
} */
.health-left {
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 50px;
  color: #2e8094;
}
.health-right {
  background-color: #2e8094;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
}
.health-card-img img {
  border-radius: 10px;
}
.health-img-heading {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 10px;
}
.health-slide-arrow-left {
  position: absolute !important;
  bottom: 0 !important;
  border: unset !important;
  background-color: unset !important;
  color: #fff !important;
  font-size: 34px !important;
}
.helath-slide-arrow-right {
  position: absolute;
  bottom: 0;
  right: 0;
  border: unset;
  background-color: unset;
  color: #fff;
  font-size: 34px;
}
.tab-video-btn-group .col-tab-video {
  display: inline-block;
}
.tab-video-btn {
  width: 100px;
  background-color: #d8d8d8;
  border: unset;
  margin: 0 1px;
  padding: 12px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
}
.tab-video-btn-active {
  width: 100px;
  background-color: #3ba5be;
  border: unset;
  margin: 0 1px;
  padding: 12px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.tab-video-area {
  background-color: #3ba5be;
  padding: 5%;
}
.video-thumbnails {
  width: 100%;
  height: 100%;
}

.video-thumbnails img{
  height: 100%;
}

.play-btn-area {
  padding: 18px 22px;
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
  border-radius: 50%;
  background-color: #f54b00;
  cursor: pointer;
}
.play-btn-area i {
  font-size: 34px;
  color: #fff;
}
.video-slide-arrow-left {
  border-radius: 50%;
  font-size: 28px;
  position: absolute;
  padding: 2px 12px;
  top: 0;
  background-color: #fff0;
  border: 1px solid #fff;
  color: #fff;
}
.video-slide-arrow-right {
  border-radius: 50%;
  font-size: 28px;
  position: absolute;
  padding: 2px 12px;
  bottom: 0;
  background-color: #fff0;
  border: 1px solid #fff;
  color: #fff;
}
.e-comm-heading {
  text-align: center;
}
.e-comm-heading h2 {
  color: #006d88;
}
.e-comm-section {
  padding: 30px 0;
  padding-top: 45px;
}

.e-comm-section .product-slide{
  padding: 0;
}

.e-comm-heading p {
  padding: 10px 15%;
}
.product-card-main {
  padding: 0 3%;
}
.product-card {
  border-radius: 10px;
  border: 1px solid #ccc;
}
.product-name {
  padding: 10px;
}
.product-img {
  padding: 4px;
}
.product-bottom-btn {
  width: 100%;
  border: unset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 0;
  background-color: #d3d3d3;
}
.product-card:hover .product-bottom-btn {
  background-color: #006d88;
}

.grey-bg{
  background-color: #eee;
}

/* donation style */

.unset-a{
  text-decoration: none;
}
.sbtn-box a{
  color: #fff ! important;
}
.main-layout{
  padding: 5% 0px;
}
.payment-row{
  padding: 0px 5%;
}
.payment-selection-box{
  padding: 20px 20px;
  border: 3px solid #b5b5b5;
}
.payment-info-box{
  padding-top: 50px;
}
.payment-info-details{
  padding: 20px 40px;
}
.payment-info-details ul{
  list-style: disc;
}
.payment-info-bottom-btn{
  width: 100%;
  padding:8% 5%;
}
.payment-donate-btn{
  width: 40%;
  background-color: #006D88;
  color: #fff;
  padding: 12px;
  text-align: center;
  float: right;
  border: unset;
  font-size: 18px;
}
.subcription-box-area{
  width: 100%;
  padding-top: 45%;
  text-align: center;
  padding-left: 20%;
}
.subcription-box-area button{
  padding: 10px 20px;
  background-color: #006d88;
  color: #fff;
  border: unset;
}
.btn-icon-box{
  padding: 5px 20px;
  background-color: #fff;
  color: #e60404;
}
.donation-details{
  background-color: #c6edf4;
  margin: 30px 0px;
}
.donation-details-box{
  padding: 4% 40px;
}
.donation-details-left{
  padding: 0px 4%;
}
.don-detail-card{
  background-color: #48a5be;
 
  color: #fff;
}
.don-detail-card-data{
  padding: 30% 50px;
}
.donation-card-slide-arrow-left{
  position:absolute;
  left: 0%;
  top: 48%;
  background-color: #fff;
  border:unset !important;
  font-size: 28px;
  padding:5px 10px;
}
.donation-card-slide-arrow-right{
  position:absolute;
  right: 0%;
  top: 48%;
  background-color: #fff;
  border:unset !important;
  font-size: 28px;
  padding:5px 10px;
}
.don-card-top-label{
  position: absolute;
  width: 40%;
  top: 12%;
  left: -10%;
  text-align: center;
  z-index: 999999;
  color: #fff;
  background-color: #006d88;
  padding: 10px;
}
.heart-btn{
  padding: 10px 20px;
  background-color: #006d88;
  color: #fff;
  border: unset;
}
.checkout-heading-box .checkout-heading-txt{
  border: 2px solid #3ba5be;
  padding: 10px 30px;
  border-radius: 50px;
  color: #3ba5be;
}
.checkout-story-content{
  padding: 10px 30px;
}
.checkout-donate-list{
  padding: 10px 40px;
}
.donation-banner-layout-section{
  margin-bottom: 5%;
  background-color: #c6edf4;
}
.donation-banner-layout-heading{
  text-align: center;
  padding: 30px 50px;
}
.donation-graph-card{
  background-color: #fff;
  border-radius: 30px;
}
.graph-top-section{
  padding: 10% 23%;
}
.donation-payment-details{
  padding: 5%;
}
.donation-graph-card-heading{
  text-align: center;
}
.donation-graph-card-heading .d-g-time{
  color: #a6a6a6;
}
.left-donation-text{
  display: inline-block;
  width: 100px;
  color: #a6a6a6;
}
.right-donation-text{
  display: inline-block;
  width: 100px;
  border-left: 2px solid #d7d7d780;
}
.clr-red{
  color: #ff0000;
}
.clr-green{
  color: #27de7f;
}
.mp-30{
  padding-bottom:30px;
}
.donation-graph-card-bottom-btn{
  padding: 30px;
  text-align: center;
}
.d-g-bottom-btn{
  background-color: #2e8094;
  color: #fff;
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border: unset;
  border-radius: 100px;
}
.donation-payment-details-btn-sec{
  text-align: center;
}
.donate-now-green{
  background-color:#4d8f4f;
  color: #fff;
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border: unset;
  border-radius: 100px;
  margin: 20px 0px;
}
.donate-share-social{
  background-color:#9e4711;
  color: #fff;
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border: unset;
  border-radius: 100px;
  margin: 20px 0px;
}
.donation-detail-bottom-card{
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin-top: 30px;
}
.donation-detail-bottom-card-heading{
  padding: 20px 10px;
  background-color: #2e8094;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;
}
.donation-detail-bottom-card-content{
  padding: 20px 10px;
}
.donation-detail-bottom-card-content p{
  font-size:18px;
}
.verify-btn span{
  border: 1px solid #fff;
  padding: 5px 50px;
  border-radius: 80px;
}
.box-shad-1{
  box-shadow: 0px 0px 6px 2px #a9a6a6;
}
.comment-section{
  background-color: #c6edf4;
  padding: 50px;
  margin: 5% 0px;
}
.donation-comment-box-heading{
  margin: 30px 0px;
}
.donation-comment-area{
  background-color: #fff;
  border-radius: 100px;
  padding: 2px 25px;
  border: 1px solid #006d88;
}
.donation-comment-text-area{
  width: 100%;
  border: unset;
  padding: 10px 20px;
  outline:none !important;
}
.donation-comment-text-area:focus-visible{
  outline:none !important;
}
.donation-comment-btn{
  width: 100%;
  margin-top: 16px;
  padding: 5px;
  border: unset;
  background-color: #006D88;
  color: #fff;
  border-radius: 50px;
}

/* product detail css */

.tab-container .el-tabs__item.is-active{
  color: #2d8094;
}

.tab-container .el-tabs__active-bar {
  background-color: #2d8094;
}

.tab-container .el-tabs__item:hover {
  color: #2d8094;
  cursor: pointer;
}
.image-container{
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.image-container .zoomer-control{
  height: 30px !important;
}

.image-container .scroller-at-bottom {
  width: 100% !important;
  height: auto !important;
}

.image-container .scroller-at-bottom .thumb-list {
  align-content: baseline;
  width: 100% !important;
  margin-top: 20px;
}