name: Server Deployment CI

on:
  push:
    branches: [ "main", "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        # key: ${{ secrets.PRIVATE_KEY }}
        password: ${{ secrets.PASSWORD }}
        port: 22
        script: |
          whoami
          cd /var/www/awahan/
          sudo docker-compose down
          sudo git add .
          sudo git commit -m "server"
          sudo git stash
          sudo git pull
          sudo docker-compose build && docker-compose up -d